<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container">
        <h1 align="center">UNAUTHORIZED</h1>


        <div align="center" ng-controller="SignOut">

            <div class="alert alert-danger" role="alert">
                Hi {{user}}, you are already signed in.
                Please logout to sign in with a different account.
            </div>

            <button type="button" class="btn btn-danger" ng-click="signOutFunction()">Sign Out</button>
        </div>
<script src="../js/script.js"></script>
</div>
</body>
</html>