<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ComplainRegister</title>
</head>
<body class="bg-light">

<div class="container" ng-controller="PopulateController">
    

    <div align="center"><h1>COMPLAINT PORTAL</h1></div>

    <form class="container">
        <div class="form-group" >
            <label for="locality-dropdown">Area</label>
            <select class="custom-select" id="locality-dropdown" name="locality">
                <option selected>Select Area</option>
            </select>
        </div>

        <div class="form-group">
            <label for="QtrNo">Qtr No</label>
            <select class="custom-select" id="QtrNo" name="Quarters">
                <option selected>Select Quarter Number</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ComplaintType">Complaint Type</label>
            <select class="custom-select" id="ComplaintType" name="ComplaintType">
                <option selected>Select Complaint Type</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Summary">Short Description</label>
            <input size="4"  type="text" class="form-control" id="Summary" placeholder="Summary of Complaint">
            <!--<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>-->
        </div>
    </form>

    <div align="center">
        <button type="button" class="btn btn-success" onclick="postResult()">Submit</button>

    </div>
</div>

</body>
</html>