<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<style>
    div {
        padding-top: 90px;
        padding-right: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
    }
    </style>
<body class="bg-light">
<div class="container" >
<h1 align="center">WELCOME TO THE COMPLAINT PORTAL </h1>
    <div align="center">

        <p><a href="#!/login">
        <button type="button" class="btn btn-success btn-lg btn-block" >SIGN IN</button></a></p>

        <p><a href="#!/signup">
        <button type="button" class="btn btn-info btn-lg btn-block" >SIGN UP</button></a></p>

        <p><a href="#!/complaint">
            <button type="button" class="btn btn-info btn-lg btn-block" >Register a new Complaint</button></a></p>
</div>
</div>



</body>
</html>